.header
{
    position: absolute;
    top: 0px;
    left: 700px;
}
.h
{
    font-size: 50px;
    color: blueviolet;
}
.inputBox
{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 200px;
    left: 100px;
    border: 5px solid green;
    border-radius: 10px;
}
.num
{
    position: absolute;
    font-size: 40px;
    top: 10px;
    left: 100px;
    color: white;
}
.name
{
    position: absolute;
    font-size: 40px;
    top: 90px;
    left: 100px;
    color: white;
}
.korean
{
    position: absolute;
    font-size: 40px;
    top: 170px;
    left: 100px;
    color: white;
}
.english
{
    position: absolute;
    font-size: 40px;
    top: 250px;
    left: 100px;
    color: white;
}
.math
{
    position: absolute;
    font-size: 40px;
    top: 330px;
    left: 100px;
    color: white;
}
.btn
{
    position: absolute;
    top: 650px;
    left: 200px;
}
.add
{
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}
.modify
{
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}
.delete
{
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}
.class
{
    position: absolute;
    top: 200px;
    left: 700px;
    background-color: cadetblue;
    border-radius: 10px;
    width: 1100px;
}
.num2
{
    color: white;
    font-size: 40px;
}
.name2
{
    position: relative;
    color: white;
    font-size: 40px;
    left: 100px;
}
.korean2
{
    position: relative;
    color: white;
    font-size: 40px;
    left: 200px;
}
.english2
{
    position: relative;
    color: white;
    font-size: 40px;
    left: 250px;
}
.math2
{
    position: relative;
    color: white;
    font-size: 40px;
    left: 300px;
}
.total
{
    position: relative;
    color: white;
    font-size: 40px;
    left: 350px;
}
.avg
{
    position: relative;
    color: white;
    font-size: 40px;
    left: 400px;
}
.scroll
{
    position: absolute;
    top: 300px;
    left: 700px;
    width: 1100px;
    height: 400px;
}
.number_list
{
    color: white;
    font-size: 40px;
}
.name_list
{
    color: white;
    font-size: 40px;
    position: relative;
    left: 100px;
}
.korean_list
{
    color: white;
    font-size: 40px;
    position: relative;
    left: 200px;
}
.english_list
{
    color: white;
    font-size: 40px;
    position: relative;
    left: 250px;
}
.math_list
{
    color: white;
    font-size: 40px;
    position: relative;
    left: 300px;
}
.total_list
{
    color: white;
    font-size: 40px;
    position: relative;
    left: 350px;
}
.avg_list
{
    color: white;
    font-size: 40px;
    position: relative;
    left: 400px;
}
